/Capitulo 3/nbproject/private/
/Capitulo 4/nbproject/private/
/Capitulo 5/nbproject/private/
/Capitulo 6/nbproject/private/
/Capitulo 7/nbproject/private/
/Capitulo 5 - Arrays/nbproject/private/
/Capitulo 4 - Bucles/nbproject/private/
/Capitulo 1 - Php basico/nbproject/private/
/Capitulo 2 - Recogida de datos/nbproject/private/
/Capitulo 3 - Sentencia Condicional/nbproject/private/
/Capitulo 7 - Acceso a base de Datos/nbproject/private/
/Capitulo 8 - PHP Orientado a Objetos/nbproject/private/
/Capitulo 10 - Twig/nbproject/private/